[Desktop Entry]
Type=Application
Name=Calibre
GenericName=Ebook Library
Icon=calibre
Exec=sh -c "QT_QPA_PLATFORM=xcb /opt/calibre/calibre"
Terminal=false
